.dark-toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.dark-toggle__input {
  display: none;
}

.dark-toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.dark-toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.dark-toggle__input:checked ~ .dark-toggle__fill {
  background: #009578;
}

.dark-toggle__input:checked ~ .dark-toggle__fill::after {
  transform: translateX(var(--height));
}

.dark-toggle {
  display: flex;
  align-items: center;
}

.dark-toggle > span {
  margin-right: 0.8em;
}

.dark-toggle .dark-toggle__bulb {
  max-height: 2em;
}

.dark-toggle .dark-toggle__bulb > * {
  fill: currentColor;
}
